
/* initalized the body with margin/padding - 0 */
body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;

}

/* Section ONE - Heading and Content */
.section-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F9F871;
    padding-bottom: 50px;
    color: #1f2937;
    font-size: 18px;

}

.section-one-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;


}

/* unordered list consisting of navigation menus */
.nav-bar {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.nav-bar-link {
    text-decoration: none;
    color: #1f2937;
}

.section-one-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    gap: 100px;
    margin-top: 40px;
}


.content-info-para {
    max-width: 400px;
}


.content-image {
    width: 400px;
    height: 200px;
    background-image: url(../img/coconut-tree.jpg);
    background-size: cover;
}

.content-button-layer {
    margin : 5px 0;
    transition: 0.5s;
}

.content-button-layer:hover {
    width: 123px;
    height: 42px;
    border: 4px solid #03045e;
    border-radius: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transform: scale(0.9);


}
.content-button {
    width: 120px;
    height: 40px;
    background-color: #001219;
    border-radius: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}


.button-link {
    color: white;
    text-decoration: none;
}





/* adding section-two style */


.section-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    background-color: #8BD77E;
    padding-top: 10px;
}


.cards {

    display: flex; 
    gap: 10vh;
    justify-content: center;
    padding-top: 30px;
}


.card-deck-one, .card-deck-two, .card-deck-three,
.card-deck-four {
    display: flex;
    flex-direction: column;
    width: 100px;
    
}

.card {
    border-radius: 10px;
    width: 100px;
    height: 100px;
    background-size: cover;
    border: 2px solid #3882f6;
    transition: 0.5s;


}

.card:hover {
    transform: scale(1.3);

}


.card.one {
    background-image: url(../img/card1.jpg);
}
.card.two {
    background-image: url(../img/card2.jpg);
}
.card.three {
    background-image: url(../img/card3.jpg);
}
.card.four {
    background-image: url(../img/card4.jpg);
}

.description-cards {
    font-size: 10px;
    display: flex;
    margin-left: 3px;
    margin-right: 3px;
   
}


/* Section-three */


.section-three {
    display: flex;
    justify-content: center;
    background-color: white;;
    padding: 50px;
    color: #1F2937;

}

.quotation-module {
    max-width: 500px;
}

.quotes {
    font-style: italic;
    font-size: 20px;
    font-weight: 200;
}

.quote-title {
    padding-left: 300px;

}







/* Section-four */

.section-four {
    display : flex;
    justify-content: center;
    background-color: #DBF2FF;
    padding: 50px;

}

.action-bar {
    display: flex;
    background-color: #1F2937;
    padding: 23px 50px;
    border-radius: 15px;
    color: white;
    align-items: center;
}

.action-bar-content {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    

    
   
}

.action-bar-button {
    width: 100px;
    height: 35px;
    background-color: #1F2937;
    border-radius: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 2px solid #e5e7eb;
    transition: 0.5s;
    
}

.action-bar-button:hover {
    border-radius: 0%;
    transform: scale(0.9);
}


.into-heading {
    margin: 0px;
    font-size: 16px;
}

.into-para {
    margin: 0px;
    font-size: 10px;
}

.action-bar-button:hover {
    background-color: #105267;
}
.button-link {
    color: white;
    text-decoration: none;
}


footer {
    display: flex;
    justify-content: center;
    background-color: #F9F871;
    color: #1f2937;
    opacity: 0.9;

}










